.absolute-right-container {
  bottom: 0;
  position: static;
  width: 100%;
}

.end-info {
  font-size: 20px;
}

.left-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.level-box {
  font-size: 16px;
  padding: 8px;
  text-align: center;
}

.top-rounded {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.level-box:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lifeline-active:hover {
  cursor: pointer;
  opacity: 0.6;
}

.lifeline {
  width: 80%;
  max-width: 100px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .absolute-right-container {
    position: absolute;
  }
}
