<div class="row text-white">
  <!-- <div class="col-lg-9 col-md-8">Timer</div> -->
  <div class="col-lg-3 offset-lg-9 col-md-4 offset-md-8">
    <div class="row mb-lg-1">
      <div class="col text-right">
        <img *ngIf="!game.usedLifelines.includes(lifeline.FiftyFifty)"
             src="/assets/images/5050.png" [ngClass]="{'lifeline': true, 'lifeline-active': !game.finished}"
             (click)="!game.finished && fiftyFifty()" alt="Pół na pół"/>
        <img *ngIf="game.usedLifelines.includes(lifeline.FiftyFifty)"
             src="/assets/images/5050used.png" class="lifeline" alt="Pół na pół"/>
      </div>
      <div class="col text-center">
        <img *ngIf="!game.usedLifelines.includes(lifeline.PhoneAFriend)"
             src="/assets/images/PAF.png" [ngClass]="{'lifeline': true, 'lifeline-active': !game.finished}"
             (click)="!game.finished && phoneAFriend()" alt="Telefon do przyjaciela"/>
        <img *ngIf="game.usedLifelines.includes(lifeline.PhoneAFriend)"
             src="/assets/images/PAFused.png" class="lifeline" alt="Telefon do przyjaciela"/>
      </div>
      <div class="col text-left">
        <img *ngIf="!game.usedLifelines.includes(lifeline.AskTheAudience)"
             src="/assets/images/ATA.png" [ngClass]="{'lifeline': true, 'lifeline-active': !game.finished}"
             (click)="!game.finished && askTheAudience()" alt="Pytanie do publiczności"/>
        <img *ngIf="game.usedLifelines.includes(lifeline.AskTheAudience)"
             src="/assets/images/ATAused.png" class="lifeline" alt="Pytanie do publiczności"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-9 col-md-8">
    <div class="left-container">
      <div *ngIf="game.finished" class="row">
        <div class="col-sm-12 text-center">
          <div *ngIf="!showError" class="end-info mt-3 text-white">
            <span *ngIf="game.level === -1">
              Niestety nie udało Ci się nic wygrać.
            </span>
            <span *ngIf="game.level > -1">
              Wygrałeś {{game.awards[game.level]}}. Gratulacje!
            </span>
          </div>
          <div *ngIf="showError" class="end-info mt-3">
            <pil-alert-closeable [type]="'danger'"
                                 [message]="'Wystąpił nieoczekiwany błąd.'">
            </pil-alert-closeable>
          </div>
          <div class="mb-2 mt-2">
            <button (click)="onNewGameRequest()"
                    class="btn btn-primary btn-lg">Zagraj od nowa
            </button>
          </div>
        </div>
      </div>
      <pil-question [game]="game" (gameStateChange)="onGameStateChange($event)"
                    (errorEmitter)="onError($event)">
      </pil-question>
    </div>
  </div>
  <div class="col-lg-3 col-md-4">
    <div class="absolute-right-container text-white">
      <div class="level-box"
           id="level-box{{lev}}"
           *ngFor="let lev of levels"
           [ngClass]="lev === game.level && !game.finished ?
          'bg-warning' : lev > game.level ? '' : 'bg-success'"
           [ngStyle]="{'font-weight': isGuaranteed(lev) ? 'bold' : 'normal'}">
        {{game.awards[lev]}}
      </div>
      <div class="row">
        <div class="col-sm-12 text-center mt-1 mb-1">
          <button class="btn btn-primary btn-lg"
                  [disabled]="game.finished"
                  (click)="onResign()">Rezygnuj
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<pil-spinner *ngIf="waiting"></pil-spinner>
<pil-phone-a-friend *ngIf="phoneAFriendVisible"
                    (popupClosed)="onPhoneAFriendPopupClose()"
                    (errorEmitter)="onError($event)">
</pil-phone-a-friend>
<pil-ask-the-audience *ngIf="askTheAudienceVisible"
                      (popupClosed)="onAskTheAudiencePopupClose()"
                      (errorEmitter)="onError($event)">
</pil-ask-the-audience>
