.bg-blue {
  background-color: #00005b;
}

.bg-green {
  background-color: #28a745;
}

.textarea-preview {
  border: 1px solid #505050;
  border-radius: .25rem;
  padding: .375rem .75rem;
  min-height: 38px;
  height: auto;
}
