@import '../../../variables';

.bg-unselected {
  background-color: $background-unselected-color;
}

.bg-selected {
  background-color: $background-correct-color;
}

.textarea-preview {
  border: 1px solid #505050;
  border-radius: .25rem;
  padding: .375rem .75rem;
  min-height: 38px;
  height: auto;
}
