#bg-paf {
  background-color: rgba(192, 192, 192, 0.5);
  position: fixed;
  z-index: 2048;
  width: 100vw;
  height: 100vh;
}

#paf {
  display: inline-block;
  border-radius: 10px;
  width: 480px;
  height: 160px;
  position: fixed;
  margin: auto;
  z-index: 2049;
}

.font-large {
  font-size: 1.25rem !important;
}

.zero-positioned {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 575px) {
  #paf {
    width: 300px;
  }
}
