@import '../../../../mixins';
@import '../../../../variables';

span.answer, span.question {
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
}

.answer-container {
  position: relative;
  width: 100%;
  height: 90px;
  line-height: 90px;
  margin: 5px 0;
  padding: 0;
  border-radius: 44px;
  z-index: 1;
  transition: filter 0.15s;
}

.answer-content {
  position: absolute;
  margin: auto 15px auto 80px;
  top: 0;
  bottom: 0;
}

.bevel-important {
  background-position: bottom left, bottom right, top right, top left !important;
  -moz-background-size: 51% 51% !important;
  -webkit-background-size: 51% 51% !important;
  background-size: 51% 51% !important;
  background-repeat: no-repeat !important;
}

.bg-correct {
  @include grad-background($background-correct-color, $answer-corner-size);
}

.bg-unselected {
  @include grad-background($background-unselected-color, $answer-corner-size);

  &:not(.disable-hover) {
    &:hover {
      filter: brightness(0.8);
      cursor: pointer;
    }
  }
}

.bg-selected {
  @include grad-background($background-selected-color, $answer-corner-size);

  &:not(.disable-hover) {
    &:hover {
      filter: brightness(0.8);
      cursor: pointer;
    }
  }
}

.prefix {
  font-size: 40px;
  font-weight: bold;
  color: $question-prefix-color;
  position: absolute;
  margin: auto 0 auto 10px;
  top: 0;
  bottom: 0;
}

.question-content {
  position: absolute;
  height: 100px;
  margin: auto 55px auto 55px;
  top: 0;
  bottom: 0;
}

.question-content-parent {
  @include grad-background($background-unselected-color, $question-corner-size);
  position: relative;
  width: 96%;
  height: 100px;
  line-height: 100px;
  margin: 5px 2%;
  padding: 0;
  border-radius: 49px;
}

.span-prefix {
  font-size: 10px;
  vertical-align: middle;
  line-height: 10px;
  display: inline-block;
  margin: 0 3px 5px;
}
