@import '../../../../variables';

#bg-ata {
  background-color: $background-lifeline-color;
  position: fixed;
  z-index: 2048;
  width: 100vw;
  height: 100vh;
}

#ata {
  display: inline-block;
  border-radius: 10px;
  width: 480px;
  height: 300px;
  position: fixed;
  margin: auto;
  z-index: 2049;
}

.font-large {
  font-size: 1.25rem !important;
  line-height: normal;
}

.progress-bar-vertical {
  width: 50px;
  min-height: 200px;
  margin: 10px auto 0;

  .progress-bar {
    width: 100%;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
    border-radius: inherit;
  }
}

.zero-positioned {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 575px) {
  #ata {
    width: 300px;
  }
}
