<ng-template #popoverContent>
  <span class="text-white">
    Aby dodać wzór w <span pilMathJax="\(\LaTeX\)-u"></span>,
    należy go umieścić pomiędzy ogranicznikami <code class='text-white'><span>&#92;</span>(</code>
    oraz <code class='text-white'><span>&#92;</span>)</code>;<br/>
    na przykład <code class='text-white'><span>&#92;</span>(a^2+b^2=c^2<span>&#92;</span>)</code>.
  </span>
</ng-template>

<button type="button" class="btn btn-primary mb-1"
        [ngbPopover]="popoverContent" popoverClass="popover-content" placement="left">
  <i class="fa fa-info-circle popover-icon"></i>
</button>
