<div *ngIf="game.lastQuestion as question" class="absolute-full-question-container text-white">
  <div class="row">
    <div class="col-sm-12">
      <div class="bevel-important question-content-parent">
        <div class="question-content">
          <span class="question" [pilMathJax]="question.content" [pilMaxHeight]="90">
            {{question.content}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" *ngFor="let answer of question.answers" style="height: 100px;">
      <div class="answer-container bevel-important"
           *ngIf="answer?.prefix as prefix"
           (click)="onClick(prefix)"
           [ngClass]="{
            'bg-correct': correctBackground(prefix),
            'bg-selected': selectedBackground(prefix),
            'bg-unselected': unselectedBackground(prefix)}">
        <div class="prefix">
          <span><span class="span-prefix">&#9670;</span>{{prefix}}:</span>
        </div>
        <div class="answer-content">
          <span class="answer" id="answer{{prefix}}"
                [pilMathJax]="answer.content" [pilMaxHeight]="80">
            {{answer.content}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center mt-1 mb-1">
      <button class="btn btn-primary btn-lg"
              [disabled]="submitButtonDisabled || game.finished || question.correctAnswer"
              (click)="checkAnswer(selected)">Wyślij odpowiedź
      </button>
    </div>
  </div>
</div>
<pil-spinner *ngIf="waiting"></pil-spinner>
