<div *ngIf="game.lastQuestion as question" class="absolute-full-question-container text-white">
  <div class="row">
    <div class="col-sm-12">
      <div class="bevel-important question-content-parent">
        <div class="question-content">
          <span class="question" [mathJax]="question.content">{{question.content}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" *ngFor="let answer of question.answers">
      <div class="answer-container bevel-important"
        *ngIf="answer?.prefix as prefix"
        (click)="onClick(prefix)"
        [ngClass]="{
            'bg-correct': prefix === question.correctAnswer,
            'bg-incorrect-selected': !(prefix === question.correctAnswer) && prefix === selected,
            'bg-incorrect-unselected': !(prefix === question.correctAnswer) && !(prefix === selected)}">
        <div class="prefix">
          <span><span class="span-prefix">&#9670;</span>{{prefix}}:</span>
        </div>
        <div class="answer-content">
          <span class="answer"
            id="answer{{prefix}}"
            [mathJax]="answer.content">{{answer.content}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center mt-1 mb-1">
      <button class="btn btn-primary btn-lg"
        [disabled]="!selected || game.finished || question.correctAnswer"
        (click)="checkAnswer(selected)">Wyślij odpowiedź</button>
    </div>
  </div>
</div>
<spinner *ngIf="waiting"></spinner>
