$background-correct-color: var(--bs-green);
$background-unselected-color: #4400C1;
$background-selected-color: var(--bs-yellow);
$background-lifeline-color: rgba(192, 192, 192, 0.1);
$question-prefix-color: #FFEB5B;

$question-corner-size: 24px;
$answer-corner-size: 22px;
