$background-correct-color: #28a745;
$background-unselected-color: #00005b;
$background-unselected-hovered-color: #00006b;
$background-selected-color: #ffc107;
$background-selected-hovered-color: #ffb107;

$question-corner-size: 24px;
$answer-corner-size: 22px;
